@import "../common/constant.scss";
.todoDetail-view-container {
  display: flex;
  flex-direction: column;

  .todo-detail-view {
    display: flex;
  }
  .back-btn {
    align-self: center;
    text-decoration: none;
  }
}
