@import "../common/constant.scss";
.box-preview-container {
  padding: $g-low-padding;
  font-size: $g-font-size;

  .box-lf-container {
    display: flex;
    .box-left {
      margin: 3px 6px;
      padding: $g-normal-padding;
      border-radius: $border-radius;
      flex: 5 1 auto;
    }
    .box-right {
      margin: 3px 6px;
      padding: $g-low-padding;
      border-radius: $border-radius;
      flex: 1;
    }
  }

  .preview-box {
    .box-left {
      background: lighten(lightgray, 10);
    }
  }

  .box-view-container {
    .input-box {
      border: 0.5px solid lightblue;
      .text-box {
        font-size: $g-font-size;
        border: none;
        width: 100%;
        &:focus {
          outline: none;
        }
      }
    }
    .add-button {
      border: 0.5px solid lightblue;
      &:hover {
        cursor: pointer;
        background: rgba(32, 214, 47, 0.5);
      }
      &:active {
        cursor: pointer;
        background: rgba(15, 28, 212, 0.322);
      }
    }
  }
}
