$black-85: rgba(0, 0, 0, 0.85);
$black-70: rgba(0, 0, 0, 0.75);
$black-60: rgba(0, 0, 0, 0.6);
$white: rgb(255, 255, 255);
$body: #282c34;

$g-font-size: 21px;
$g-header-size: 36px;

$g-low-padding: 9px;
$g-normal-padding: 12px;
$g-extra-padding: 15px;

$g-low-margin: 9px;
$g-normal-margin: 12px;
$g-extra-margin: 15px;

$border-radius: 3px;
$box-shadow-inset: inset 0 0 0 1px #a5a7a8, inset 0 -1px 0 #6e7275;

@mixin truncate($value: 200px) {
  max-width: $value;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// text-colors
$RED: rebeccapurple;
$BLUE: #2196f3;
$GREEN: lightseagreen;
$ORANGE: lightcoral;

@mixin hover-state {
  cursor: pointer;
  transition: all 0.1s ease-in;
  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}

// loading animation
.loading {
  transition: all 0.3s ease;
  animation: icon-bounce 0.3s both ease;
}
@keyframes icon-bounce {
  0%,
  50%,
  100% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(-10px);
  }
  70% {
    transform: translateY(10px);
  }
}

// media query fns
@mixin media-small() {
  @media only screen and (min-width: 320px) {
    @content;
  }
}

@mixin media-mid() {
  @media only screen and (min-width: 801px) {
    @content;
  }
}

@mixin media-large() {
  @media only screen and (min-width: 1025px) {
    @content;
  }
}
