.loading {
  animation: icon-bounce 0.5s infinite ease-in-out; }

@keyframes icon-bounce {
  0%,
  100% {
    transform: scale(0); }
  50% {
    transform: scale(1); } }

.box-preview-container {
  padding: 9px;
  font-size: 21px; }
  .box-preview-container .box-lf-container {
    display: flex; }
    .box-preview-container .box-lf-container .box-left {
      margin: 3px 6px;
      padding: 12px;
      border-radius: 6px;
      flex: 5 1 auto; }
    .box-preview-container .box-lf-container .box-right {
      margin: 3px 6px;
      padding: 9px;
      border-radius: 6px;
      flex: 1; }
  .box-preview-container .preview-box .box-left {
    background: #ededed; }
  .box-preview-container .box-view-container .input-box {
    border: 0.5px solid lightblue; }
    .box-preview-container .box-view-container .input-box .text-box {
      font-size: 21px;
      border: none;
      width: 100%; }
      .box-preview-container .box-view-container .input-box .text-box:focus {
        outline: none; }
  .box-preview-container .box-view-container .add-button {
    border: 0.5px solid lightblue; }
    .box-preview-container .box-view-container .add-button:hover {
      cursor: pointer;
      background: rgba(32, 214, 47, 0.5); }
    .box-preview-container .box-view-container .add-button:active {
      cursor: pointer;
      background: rgba(15, 28, 212, 0.322); }
