@import "../common/_constants.scss";
.editor-preview-container {
  padding: $g-superlow-padding;
  font-size: $g-font-size;
  margin-top: auto;

  .editor-preview {
    background: none;
    flex-shrink: 0;
  }

  .editor-lf-container {
    display: flex;
    margin-top: 3px;
    .editor-left {
      margin: 3px 6px;
      padding: $g-superlow-padding;
      border-radius: $border-radius;
      flex: 5 1 auto;
    }
    .editor-right {
      margin: 3px 6px;
      padding: $g-low-padding;
      border-radius: $border-radius;
      flex: 1;
    }
  }

  .editor-controls,
  .color-controls {
    display: flex;
    align-items: center;
    margin: 4px $g-normal-margin 0 6px;
    transition: all 0.3s ease;
    .RED {
      background-color: $RED;
    }
    .BLUE {
      background-color: $BLUE;
    }
    .GREEN {
      background-color: $GREEN;
    }
    .ORANGE {
      background-color: $ORANGE;
    }
    button {
      color: $black-60;
      height: 25px;
      width: 25px;
      border-radius: $border-radius;
      margin: 0 5px;
      text-align: center;
      &:first-child {
        margin-left: 0;
      }
    }
    .hint {
      text-transform: capitalize;
      margin: 0 0 0 auto;
      font-size: 12px;
    }
  }

  .preview-box {
    .editor-left {
      background: lighten(lightgray, 10);
    }
  }

  .editor-view-container {
    .input-box {
      display: flex;
      // border: 0.5px solid $box-shadow-inset;
      box-shadow: $box-shadow-inset;
      .text-box {
        font-size: $g-font-size;
        border: none;
        width: 100%;
        &:focus {
          outline: none;
        }
      }
    }
    .add-button {
      box-shadow: $box-shadow-inset;
      &:hover {
        cursor: pointer;
        background: lightskyblue;
      }
      &:active {
        cursor: pointer;
        background: lightsteelblue;
      }
    }
  }
}
