@import "../common/_constants.scss";

.todos-view-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  .todos-list {
    display: flex;
    flex-flow: column nowrap;
    overflow: scroll;
    // height: calc(100vh - 200px); // wtf?

    .todo-placeholder {
      flex: 1 1 auto;
    }

    .todo-item-container {
      display: flex;
      flex-direction: column;

      margin: 6px 9px;
      padding: $g-low-padding;
      border-radius: $border-radius;

      color: $black-85;
      background: rgba(0, 0, 0, 0.05);

      .todo-l1 {
        display: flex;
        justify-content: space-between;
        .todo-status {
          padding: 1px 4px 1px 6px;
          display: flex;
          cursor: pointer;
          margin-left: 5px;
          align-items: center;
        }

        .todo-actions,
        .todo-detail {
          display: flex;
          flex: 1 1 5%;
          justify-content: flex-end;
          text-align: center;

          button {
            margin-left: 5px;
            padding: 1px 4px 1px 6px;
          }
          .view,
          .remove {
            @include hover-state();
          }
        }
      }
      .todo-l2 {
        margin-top: 6px;
      }
    }
  }
}
