.loading {
  animation: icon-bounce 0.5s infinite ease-in-out; }

@keyframes icon-bounce {
  0%,
  100% {
    transform: scale(0); }
  50% {
    transform: scale(1); } }

.app-container {
  display: flex;
  flex-direction: column;
  padding: 15px; }
