.box-view-container {
  display: flex;
  flex-flow: row wrap;
  border: 0.5px solid lightblue;
  margin: 3px 6px;
  padding: 3px;
  border-radius: 3px; }
  .box-view-container .line {
    font-weight: 400; }
  .box-view-container .bold-line {
    font-weight: 600; }
  .box-view-container .text-box:focus {
    outline: none; }
