@import "../common/constant.scss";
.todos-view-container {
  display: flex;
  flex-direction: column;

  .header {
    color: $black-color;
    font-weight: 600;
    font-size: 21px;
    align-self: center;
  }

  .todos-list {
    display: flex;
    flex-flow: column nowrap;
    overflow: scroll;
    height: calc(100vh - 100px);
    justify-content: center;

    .loading {
      align-self: center;
    }

    .todo-placeholder {
      flex: 1 1 auto;
    }

    .todo-item-container {
      color: $black-color;
      background: rgba(0, 0, 0, 0.05);
      display: flex;
      align-items: baseline;
      margin: 3px 6px;
      border-radius: 3px;

      .todo-title {
        font-size: 14px;
        flex: 5 1 80%;
      }
      .todo-status {
        flex: 1 1 10%;
      }
      .todo-remove {
        flex: 1 1 5%;
        font-weight: 600;
        color: #002bff;
        border: 1px dotted grey;
        margin: 3px;
        text-align: center;
      }
    }
  }
}
