@import "../common/constant.scss";
.todos-view-container {
  .todos-count {
    display: flex;
    flex-direction: column;

    .header {
      color: $black-color;
      font-weight: 600;
      font-size: 21px;
      align-self: center;
    }
    .todos-list {
      display: flex;
      flex-flow: column nowrap;
      overflow: scroll;
      height: calc(100vh - 100px);

      .todo-placeholder {
        flex: 1 1 auto;
      }

      .todo-item-container {
        color: $black-color;
        background: rgb(206, 171, 213);
        display: flex;
        align-items: baseline;
        margin: 3px 6px;
        border-radius: 3px;

        .todo-title {
          font-size: 14px;
          flex: 5 1 90%;
        }
        .todo-status {
          flex: 1 1 10%;
        }
      }
    }
  }
}
